@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}


/* Typography */
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

a {
  color: blue;
  text-decoration: none;
}

/* Box sizing */
* {
  box-sizing: border-box;
}

/* Container styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.bg-image-home {
  background-image: url("../public/images/bg.png");
}